In [31]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from datetime import datetime
from scipy import stats


import requests
import json

In [32]:

from matplotlib import style
style.use('fivethirtyeight')

import datetime as dt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from sqlalchemy.ext.declarative import declarative_base

import sqlite3

Loading Data

In [ ]:
# # Read saved data: Registers and Local DB
# db_0028aa = pd.read_csv("Resources/0028AA.csv", encoding="utf-8")

# # Display sample data
# db_0028aa.head()

In [ ]:
# create engine to hawaii.sqlite
# engine = create_engine("sqlite:///Resources/ProductionDB.db")

In [33]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/FMG_2023_Field.db")

In [34]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)
# Collect the names of tables within the database
inspector.get_table_names()

['Century_0028AA',
 'Century_0028AA_cals',
 'Century_0028AA_header',
 'Century_9013A',
 'Century_9013A_cals',
 'Century_9013A_header',
 'Century_9238AA',
 'Century_9238AA_cals',
 'Century_9238AA_header',
 'Century_9238CA',
 'Century_9238CA_cals',
 'Century_9238CA_header',
 'Century_9622A',
 'Century_9622A_cals',
 'Century_9622A_header',
 'Century_9622C',
 'Century_9622C_cals',
 'Century_9622C_header',
 'sqlite_sequence']

In [ ]:
# View all of the classes that automap found

# Using the inspector to print the column names within the 'measurement' table and its types

print ("---- 0028AA table information --------")

columns = inspector.get_columns('Century_0028AA')
for column in columns:
    print(column["name"], column["type"])

print ("---- 0028AA_cals table information --------")

columns = inspector.get_columns('Century_0028AA_cals')
for column in columns:
    print(column["name"], column["type"])


print ("---- 0028AA_header table information --------")

columns = inspector.get_columns('Century_0028AA_header')
for column in columns:
    print(column["name"], column["type"])

In [ ]:
# View all of the classes that automap found

# Using the inspector to print the column names within the 'measurement' table and its types

print ("---- Century_9013A table information --------")

columns = inspector.get_columns('Century_9013A')
for column in columns:
    print(column["name"], column["type"])

print ("---- Century_9013A_cals table information --------")

columns = inspector.get_columns('Century_9013A_cals')
for column in columns:
    print(column["name"], column["type"])


print ("---- Century_9013A_header table information --------")

columns = inspector.get_columns('Century_9013A_header')
for column in columns:
    print(column["name"], column["type"])

In [ ]:
# View all of the classes that automap found

# Using the inspector to print the column names within the 'measurement' table and its types

print ("---- Century_9057A table information --------")

columns = inspector.get_columns('Century_9057A')
for column in columns:
    print(column["name"], column["type"])

print ("---- Century_9057A_cals table information --------")

columns = inspector.get_columns('Century_9057A_cals')
for column in columns:
    print(column["name"], column["type"])


print ("---- Century_9057A_header table information --------")

columns = inspector.get_columns('Century_9057A_header')
for column in columns:
    print(column["name"], column["type"])

In [ ]:
# View all of the classes that automap found

# Using the inspector to print the column names within the 'measurement' table and its types

print ("---- Century_9238AA table information --------")

columns = inspector.get_columns('Century_9238AA')
for column in columns:
    print(column["name"], column["type"])

print ("---- Century_9238AA_cals table information --------")

columns = inspector.get_columns('Century_9238AA_cals')
for column in columns:
    print(column["name"], column["type"])


print ("---- Century_9238AA_header table information --------")

columns = inspector.get_columns('Century_9238AA_header')
for column in columns:
    print(column["name"], column["type"])

In [ ]:
# View all of the classes that automap found

# Using the inspector to print the column names within the 'measurement' table and its types

print ("---- Century_9622A table information --------")

columns = inspector.get_columns('Century_9622A')
for column in columns:
    print(column["name"], column["type"])

print ("---- Century_9622A_cals table information --------")

columns = inspector.get_columns('Century_9622A_cals')
for column in columns:
    print(column["name"], column["type"])


print ("---- Century_9622A_header table information --------")

columns = inspector.get_columns('Century_9622A_header')
for column in columns:
    print(column["name"], column["type"])

In [ ]:
# View all of the classes that automap found

# Using the inspector to print the column names within the 'measurement' table and its types

print ("---- Century_9622C table information --------")

columns = inspector.get_columns('Century_9622C')
for column in columns:
    print(column["name"], column["type"])

print ("---- Century_9622C_cals table information --------")

columns = inspector.get_columns('Century_9622C_cals')
for column in columns:
    print(column["name"], column["type"])


print ("---- Century_9622C_header table information --------")

columns = inspector.get_columns('Century_9622C_header')
for column in columns:
    print(column["name"], column["type"])

In [35]:
inspector.get_table_names()

['Century_0028AA',
 'Century_0028AA_cals',
 'Century_0028AA_header',
 'Century_9013A',
 'Century_9013A_cals',
 'Century_9013A_header',
 'Century_9238AA',
 'Century_9238AA_cals',
 'Century_9238AA_header',
 'Century_9238CA',
 'Century_9238CA_cals',
 'Century_9238CA_header',
 'Century_9622A',
 'Century_9622A_cals',
 'Century_9622A_header',
 'Century_9622C',
 'Century_9622C_cals',
 'Century_9622C_header',
 'sqlite_sequence']

['Century_0028AA',
 'Century_0028AA_cals',
 'Century_0028AA_header',
 'Century_9013A',
 'Century_9013A_cals',
 'Century_9013A_header',
 'Century_9238AA',
 'Century_9238AA_cals',
 'Century_9238AA_header',
 'Century_9238CA',
 'Century_9238CA_cals',
 'Century_9238CA_header',
 'Century_9622A',
 'Century_9622A_cals',
 'Century_9622A_header',
 'Century_9622C',
 'Century_9622C_cals',
 'Century_9622C_header',
 'sqlite_sequence']

In [36]:
# reflect an existing database into a new model

Base = automap_base()
Base.prepare(autoload_with=engine, reflect=True)


# reflect the tables
Base.classes.keys()

['Century_0028AA',
 'Century_0028AA_cals',
 'Century_0028AA_header',
 'Century_9013A',
 'Century_9013A_cals',
 'Century_9013A_header',
 'Century_9238AA',
 'Century_9238AA_cals',
 'Century_9238AA_header',
 'Century_9238CA',
 'Century_9238CA_cals',
 'Century_9238CA_header',
 'Century_9622A',
 'Century_9622A_cals',
 'Century_9622A_header',
 'Century_9622C',
 'Century_9622C_cals',
 'Century_9622C_header']

In [37]:
# Save references to each table (For use for SQL Queries if required)

# Map 0028AA class
db_0028AA = Base.classes.Century_0028AA
db_0028AA_cals = Base.classes.Century_0028AA_cals
db_0028AA_header = Base.classes.Century_0028AA_header

# Map 9013A class
db_9013A = Base.classes.Century_9013A
db_9013A_cals = Base.classes.Century_9013A_cals
db_9013A_header = Base.classes.Century_9013A_header

# Map 9238AA class
db_9238AA = Base.classes.Century_9238AA
db_9238AA_cals = Base.classes.Century_9238AA_cals
db_9238AA_header = Base.classes.Century_9238AA_header

# Map 9238CA class
db_9238CA = Base.classes.Century_9238CA
db_9238CA_cals = Base.classes.Century_9238CA_cals
db_9238CA_header = Base.classes.Century_9238CA_header

# Map 9622A class
db_9622A = Base.classes.Century_9622A
db_9622A_cals = Base.classes.Century_9622A_cals
db_9622A_header = Base.classes.Century_9622A_header

# Map 9622C class
db_9622C = Base.classes.Century_9622C
db_9622C_cals = Base.classes.Century_9622C_cals
db_9622C_header = Base.classes.Century_9622C_header

In [38]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [39]:
# DB Load from SQL Database

# Century_0028AA
tool_0028AA_df = pd.read_sql_table('Century_0028AA', engine)
tool_0028AA_cals_df = pd.read_sql_table('Century_0028AA_cals', engine)
tool_0028AA_header_df = pd.read_sql_table('Century_0028AA_header', engine)

# Century_9013A
tool_9013A_df = pd.read_sql_table('Century_9013A', engine)
tool_9013A_cals_df = pd.read_sql_table('Century_9013A_cals', engine)
tool_9013A_header_df = pd.read_sql_table('Century_9013A_header', engine)

# Century_9238AA
tool_9238AA_df = pd.read_sql_table('Century_9238AA', engine)
tool_9238AA_cals_df = pd.read_sql_table('Century_9238AA_cals', engine)
tool_9238AA_header_df = pd.read_sql_table('Century_9238AA_header', engine)

# Century_9238CA
tool_9238CA_df = pd.read_sql_table('Century_9238CA', engine)
tool_9238CA_cals_df = pd.read_sql_table('Century_9238CA_cals', engine)
tool_9238CA_header_df = pd.read_sql_table('Century_9238CA_header', engine)

# Century_9622A
tool_9622A_df = pd.read_sql_table('Century_9622A', engine)
tool_9622A_cals_df = pd.read_sql_table('Century_9622A_cals', engine)
tool_9622A_header_df = pd.read_sql_table('Century_9622A_header', engine)

# Century_9622C
tool_9622C_df = pd.read_sql_table('Century_9622C', engine)
tool_9622C_cals_df = pd.read_sql_table('Century_9622C_cals', engine)
tool_9622C_header_df = pd.read_sql_table('Century_9622C_header', engine)

In [40]:
tool_0028AA_df.head()

,Depth_M,CALIPER_MM,DENSITY_G/CC,POR(DEN)_PERCENT,DENSITY_CPS,TENSION_CPS,TIME_MINUTES,well,file,TIME_SECONDS,CALIPER_CPS,TENSION_POUNDS,ind
0,0.8,-999.250000,-999.250000,-999.250000,-999.250,-10.0,-999.250,RHGC12609,RHGC12609_02-09-23_12-13_0028AA_.10_0.80_51.10...,NaN,NaN,NaN,1
1,0.9,140.508286,-999.250000,-999.250000,-999.250,-10.0,-999.250,RHGC12609,RHGC12609_02-09-23_12-13_0028AA_.10_0.80_51.10...,NaN,NaN,NaN,2
2,1.0,139.440918,-999.250000,-999.250000,-999.250,-10.0,1.599,RHGC12609,RHGC12609_02-09-23_12-13_0028AA_.10_0.80_51.10...,NaN,NaN,NaN,3
3,1.1,140.705475,-999.250000,-999.250000,-999.250,-10.0,1.701,RHGC12609,RHGC12609_02-09-23_12-13_0028AA_.10_0.80_51.10...,NaN,NaN,NaN,4
4,1.2,141.967316,2.731585,-5.263559,15461.875,-10.0,1.699,RHGC12609,RHGC12609_02-09-23_12-13_0028AA_.10_0.80_51.10...,NaN,NaN,NaN,5

In [41]:
tool_9622A_df.head()

,Depth_M,GAM(NAT)_API-GR,SUSCEP_CGS E-5,SANG_DEG,SANGB_DEG,MAG-VECT_AMPL,XINCL_MV,YINCL_MV,XFLUX_MV,YFLUX_MV,...,TEMP_CPS,SUSCEP_CPS,TENSION_CPS,TIME_MINUTES,well,file,TEMP_DEG,TIME_SECONDS,TENSION_POUNDS,ind
0,0.3,-999.250000,-999.25,-999.250000,-999.250000,-999.250000,-999.250000,-999.250000,-999.25,-999.25,...,-999.25,-999.25,-10.0,-999.25,CAGC30753,CAGC30753_01-15-23_15-39_9622A_.10_0.30_56.90_...,NaN,NaN,NaN,1
1,0.4,93.073174,-999.25,-999.250000,-999.250000,-999.250000,-999.250000,-999.250000,-999.25,-999.25,...,-999.25,-999.25,-10.0,-999.25,CAGC30753,CAGC30753_01-15-23_15-39_9622A_.10_0.30_56.90_...,NaN,NaN,NaN,2
2,0.5,83.494461,-999.25,0.209521,161.552017,1.035207,-0.003656,-0.000095,-999.25,-999.25,...,-999.25,-999.25,-10.0,-999.25,CAGC30753,CAGC30753_01-15-23_15-39_9622A_.10_0.30_56.90_...,NaN,NaN,NaN,3
3,0.6,90.878052,-999.25,0.213039,159.610352,1.037111,-0.003716,-0.000116,-999.25,-999.25,...,-999.25,-999.25,-10.0,-999.25,CAGC30753,CAGC30753_01-15-23_15-39_9622A_.10_0.30_56.90_...,NaN,NaN,NaN,4
4,0.7,97.463417,-999.25,0.207328,155.776367,1.039273,-0.003611,-0.000231,-999.25,-999.25,...,-999.25,-999.25,-10.0,-999.25,CAGC30753,CAGC30753_01-15-23_15-39_9622A_.10_0.30_56.90_...,NaN,NaN,NaN,5

In [43]:
# Photo inventory dates dates


print ("\n----- Total dates------\n")
totald = session.query(db_0028AA.well, func.count(db_0028AA.well), func.avg(db_0028AA.DENSITY_CPS)).\
    group_by(db_0028AA.well).\
    all()
print (totald)

# # Earliest Date

# print ("\n----- Earliest Date------\n")
# date = session.query(RMIS.DateofLastPhotoInvtest).order_by(RMIS.DateofLastPhotoInvtest).\
#     filter(RMIS.PhotoInventoryFrequency == '12Month').\
#     order_by(RMIS.DateofLastPhotoInvtest).first()
# print (date)


# # Latest Date

# print ("\n----- Latest Date-------\n")
# date = session.query(RMIS.DateofLastPhotoInvtest).order_by(RMIS.DateofLastPhotoInvtest.desc()).\
#     filter(RMIS.PhotoInventoryFrequency == '12Month').\
#     order_by(RMIS.DateofLastPhotoInvtest).first()
# print (date)

----- Total dates------

[('BXGC07824', 413, 17192.662745441132), ('BXGC07828', 457, 17456.92462305115), ('BXGC08082', 457, 16840.291560534053), ('BXGC08344', 418, 17876.255515942732), ('BXGC08348', 416, 16294.73729294997), ('BXGC08352', 341, 16686.971994707663), ('BXGC08356', 342, 15286.14287794682), ('BXGC08360', 302, 15636.58193100683), ('BXGC08608', 356, 17564.595360230865), ('BXGC08610', 254, 18646.24609375), ('BXGC08612', 305, 16766.915801101433), ('BXGC08614', 409, 16318.44400404951), ('BXGC08616', 350, 17075.744009486607), ('BXGC08618', 352, 17066.355818314987), ('BXGC08620', 351, 17266.578319756056), ('BXGC08622', 377, 18250.76061526028), ('BXGC08624', 341, 16849.127734947764), ('BXGC08626', 255, 15430.099509803922), ('BXGC08630', 299, 17969.99337962479), ('BXGC08866', 373, 16364.674524547587), ('BXGC09127', 380, 16463.73205437911), ('BXGC09129', 362, 18991.85759722462), ('BXGC09133', 353, 17742.294645228398), ('BXGC09135', 197, 18527.603247937815), ('BXGC09137', 352, 16518.01677079634), ('BXGC09139', 288, 17008.824612087672), ('BXGC09143', 289, 16859.383640381704), ('BXGC09147', 176, 17214.827087402344), ('BXGC09149', 232, 18548.783081054688), ('BXGC09391', 328, 19485.085237828698), ('BXGC09395', 367, 17680.72232629428), ('BXGC09399', 368, 15965.841956097147), ('BXGC09403', 332, 17489.461731692394), ('BXGC09407', 217, 17906.38226796515), ('BXGC09411', 257, 18515.681420233464), ('BXGC09655', 347, 17534.161535257565), ('BXGC09657', 352, 16970.195492831142), ('BXGC09659', 344, 17143.279120866642), ('BXGC09661', 342, 18492.32423873812), ('BXGC09663', 241, 17537.58664662215), ('BXGC09665', 164, 17417.627000762193), ('BXGC09667', 289, 16415.626503703505), ('BXGC09669', 154, 18094.535879159903), ('BXGC09919', 402, 16965.656847597947), ('BXGC09921', 279, 16129.523206485215), ('BXGC09923', 207, 19297.312636813105), ('BXGC09925', 404, 17015.99760693843), ('BXGC09927', 351, 16755.319319244125), ('BXGC09929', 392, 17602.931406449297), ('BXGC09931', 259, 15401.74861999276), ('BXGC09933', 288, 17196.849958631727), ('BXGC10183', 347, 19089.940097599963), ('BXGC10185', 348, 16663.146442281788), ('BXGC10187', 400, 16743.422153320313), ('BXGC10189', 404, 16915.30610158184), ('BXGC10191', 283, 17184.78300298145), ('BXGC10193', 227, 15888.344756676763), ('BXGC10195', 227, 16541.515629302037), ('BXGC10447', 329, 18654.071550270706), ('BXGC10449', 184, 20989.726774796196), ('BXGC10451', 291, 17780.56097307238), ('BYGC10342', 301, 21465.725430206603), ('BYGC10391', 506, 20302.58788290514), ('BYGC10420', 353, 24064.884527708924), ('BYGC10436', 635, 19630.194262118603), ('BYGC10437', 392, 22026.028282944037), ('BYGC10438', 491, 20067.803020780295), ('BYGC10440', 281, 23090.763963801157), ('BYGC10441', 439, 20319.798040646354), ('BYGC10442', 339, 23334.36040053466), ('BYGC10443', 341, 23035.77716619318), ('BYGC10444', 331, 22417.375607770016), ('BYGC10467', 412, 21116.835949351487), ('BYGC10484', 393, 21750.838022324268), ('BYGC10485', 592, 19694.466709446264), ('BYGC10486', 264, 24340.853323271782), ('BYGC10487', 305, 21686.047079918033), ('BYGC10489', 299, 23211.768224811873), ('BYGC10515', 336, 22979.445265997023), ('BYGC10516', 409, 23479.311549702015), ('BYGC10536', 525, 20845.3966796875), ('BYGC10537', 477, 21391.49765174594), ('BYGC10538', 417, 22973.613028327338), ('BYGC10542', 328, 24313.867509051066), ('BYGC10544', 479, 22028.591405434498), ('BYGC10545', 229, 22673.655712677402), ('BYGC10596', 875, 18750.80155357143), ('BYGC10597', 555, 19110.316064893017), ('BYGC10598', 374, 24071.81942993817), ('BYGC10599', 254, 23146.64663816437), ('BYGC10653', 306, 25418.46727558211), ('BYGC10654', 298, 25604.49662463297), ('BYGC10655', 441, 24194.087948200115), ('BYGC10656', 752, 20664.916720045374), ('BYGC10709', 541, 21315.47477905499), ('BYGC10744', 201, 25089.3573732898), ('BYGC10745', 356, 22628.174064036164), ('CAGC01980', 424, 22374.447366966393), ('CAGC10304', 384, 19588.03429921468), ('CAGC10312', 344, 19541.050551303597), ('DNGC42876', 242, 20955.92267400568), ('DNGC43917', 217, 20888.82787298387), ('DNGC43921', 244, 22113.670562243853), ('DNGC43927', 254, 21001.63882566437), ('DNGC43929', 241, 18917.611636086618), ('DNGC43931', 244, 21239.60123431096), ('DNGC44189', 231, 23305.616756290583), ('DNGC44193', 477, 22256.3120127424), ('DNGC44461', 236, 22326.853888042904), ('DNGC44463', 204, 21385.907331878065), ('DNGC44465', 202, 23156.309937732054), ('DNGC44467', 234, 23103.992454594016), ('DNGC44469', 326, 25757.949248705903), ('DNGC44471', 283, 22371.195340106005), ('DNGC44473', 598, 19813.25060586068), ('DNGC44475', 307, 23138.473807766695), ('DNGC44477', 319, 22398.186073422807), ('LHGC00226', 230, 21534.64038722826), ('LHGC00241', 296, 20636.677823453338), ('LHGC10350', 369, 21563.676495807926), ('LHGC10351', 323, 21943.59426549197), ('LHGC10352', 688, 19788.397412677143), ('LHGC10353', 751, 19466.89793556508), ('LHGC10741', 303, 20586.29825443482), ('LHGC10742', 263, 21696.723532557033), ('LHGC10792', 204, 21931.327713311886), ('LHGC10798', 95, 22862.64412006579), ('LHGC10901', 164, 20073.567561451982), ('LHGC10902', 265, 21083.00612839033), ('LHGC10953', 260, 20372.041244741587), ('LHGC10983', 197, 20571.30584252062), ('LHGC11034', 232, 20917.25871329472), ('LHGC11063', 274, 21122.059908901687), ('LHGC11145', 158, 22847.664618769777), ('LHGC11277', 202, 22222.667378944927), ('LHGC11282', 96, 23738.612874348957), ('LHGC11306', 157, 22118.596972034236), ('MBGC00552', 411, 15524.745373802463), ('MBGC00553', 411, 16247.410690864508), ('MBGC00600', 351, 17019.303338118767), ('MBGC00601', 335, 15239.834579057835), ('MBGC00647', 226, 18694.588093715432), ('MBGC11927', 413, 15920.236200438861), ('MBGC11980', 352, 15909.827123468573), ('MBGC11981', 350, 17142.037589285716), ('MBGC11982', 352, 15676.345705899324), ('MBGC11983', 348, 16594.985932448813), ('MBGC12069', 292, 16746.583756956337), ('MBGC12070', 352, 16194.301309758966), ('MBGC12125', 232, 16993.757458917025), ('MBGC12126', 232, 16452.24116463497), ('MBGC12128', 231, 16926.32437094156), ('MBGC12215', 225, 18194.760112847223), ('MBGC12216', 284, 18153.445408780808), ('MBGC34956', 7914, 17193.99721740152), ('MBGC34956_2', 332, 18227.067803440324), ('MBGC34956_DENSITY_CAL', 642, 17860.727526893497), ('RHGC10422', 449, 16897.52189761971), ('RHGC11146', 419, 17532.885702565633), ('RHGC11148', 178, 17880.656529801614), ('RHGC11150', 417, 17834.672146657675), ('RHGC11152', 418, 17416.76482599432), ('RHGC11154', 419, 16599.54208075403), ('RHGC11160', 397, 18403.27294060926), ('RHGC11516', 423, 17837.487101525563), ('RHGC11520', 520, 16402.66066894531), ('RHGC11877', 287, 17726.855230564026), ('RHGC11879', 160, 19205.243194580078), ('RHGC11881', 457, 18157.181781660285), ('RHGC12609', 504, 15911.431609623016), ('RHGC12613', 398, 19910.284231214668), ('RHGC12950', 327, 16521.45647577408), ('RHGC12952', 325, 17342.667521033654), ('RHGC12954', 508, 17064.748673566683), ('RHGC12957', 334, 17633.109632297903), ('RHGC13290', 138, 21355.450520833332), ('RHGC13292', 499, 20957.62419957102), ('RHGC13296', 289, 17302.391321096453), ('RHGC13298', 334, 17922.792351819797), ('RHGC13304', 327, 17294.84304221617), ('RHGC13306', 458, 17443.835133648336), ('RHGC13635', 294, 21372.54931640625), ('RHGC13637', 219, 21583.975822274544), ('RHGC13639', 296, 20211.04515941723), ('RHGC13641', 214, 19489.420309761976), ('RHGC13643', 296, 20133.92836122255), ('RHGC13657', 457, 16895.029363118847), ('RHGC13982', 216, 19926.876003689234), ('RHGC13984', 214, 19168.07756370473), ('RHGC13986', 217, 21382.938971594183), ('RHGC13988', 216, 20269.474062319154), ('RHGC13990', 178, 20356.361849324087), ('RHGC13996', 338, 18925.78704581176), ('RHGC14004', 459, 17686.451601647605), ('RHGC14323', 368, 19818.78215225883), ('RHGC14327', 206, 18215.175183935073), ('RHGC14331', 180, 17138.537841796875), ('RHGC14335', 246, 18264.04534663999), ('RHGC14339', 264, 21566.067245945786), ('RHGC14343', 459, 18016.12292134736), ('RHGC14664', 217, 16854.193300871255), ('RHGC14666', 216, 18378.83329264323), ('RHGC14668', 258, 16128.84378785126), ('RHGC14670', 179, 20294.452323018504), ('RHGC14672', 174, 18027.55465382543), ('RHGC14676', 210, 18257.24322451637), ('RHGC14678', 194, 17730.608891752578), ('RHGC14684', 457, 18053.051911669176), ('RHGC15005', 174, 17587.971926634338), ('RHGC15007', 256, 18901.437286376953), ('RHGC15009', 258, 17930.217179172723), ('RHGC15011', 284, 17286.110588825923), ('RHGC15013', 259, 19087.56883068895), ('RHGC15015', 258, 19131.879485374273), ('RHGC15019', 289, 18227.76706787954), ('RHGC15348', 167, 19052.25750257298), ('RHGC15350', 211, 17323.989600303612), ('RHGC15352', 217, 15153.408745409706), ('RHGC15356', 234, 15738.431882678953), ('RHGC15358', 238, 16818.76736886161), ('RHGC15360', 232, 16185.36365587958), ('RHGC15697', 258, 19079.23531371124), ('RHGC15703', 231, 17625.383552320076), ('RHGC16028', 211, 18346.96334882257), ('RHGC16030', 219, 18428.595992972318), ('RHGC16032', 164, 18021.34170755526), ('RHGC16034', 254, 17566.519066037155), ('RHGC16036', 252, 15742.557415674602), ('RHGC16038', 296, 15186.468383789062), ('RHGC16386', 245, 20467.264955357143), ('RHGC16388', 258, 17798.611964026164), ('RHGC16390', 161, 17811.830484520575), ('RHGC16392', 284, 16719.905500385124), ('RHGC16394', 256, 15740.450958251953), ('RHGC16398', 287, 14531.924903364546), ('RHGC16744', 217, 18624.402298747118), ('RHGC16748', 259, 18180.149078486967), ('RHGC16750', 254, 16940.380421075297), ('RHGC16752', 411, 17002.358013515055), ('RHGC16754', 279, 16860.806593371977), ('RHGC17102', 216, 17481.526136610242), ('RHGC17112', 337, 18290.00291230063), ('RHGC17448', 214, 17486.33844735689), ('RHGC17456', 324, 18536.47920584973), ('RHGC17806', 296, 17792.540200723182), ('RHGC17812', 339, 20806.493748847715), ('RHGC17814', 133, 21120.814673402256), ('RHGC18159', 338, 19716.73820035133), ('RHGC18525', 558, 17100.312668010753), ('RHGC18528', 556, 16462.70697855778), ('RHGC18861', 546, 18308.77872810783), ('RHGC18865', 227, 15992.949898471916), ('RHGC18867', 408, 15422.712395163144), ('RHGC19219', 438, 19174.99343161387), ('RHGC19906', 281, 16121.656879031361), ('RHGC22075', 349, 18375.37962258238), ('RHGC22413', 224, 16513.781699044364), ('RHGC22745', 289, 15447.09484314176)]

In [ ]:
# print ("\n----- Records in a location------\n")
# totald = session.query(RMIS.BusinessLine,func.count(RMIS.FacilityNamewithFacilityID)).\
#     filter(RMIS.FacilityNamewithFacilityID == 'Jandakot Base OFS Operating Base - 8509').\
#     group_by(RMIS.BusinessLine).\
#     all()
# print (totald)

In [ ]:
# print ("\n----- Records in a location------\n")
# totald = session.query(RMIS.FacilityNamewithFacilityID, RMIS.BusinessLine,func.count(RMIS.FacilityNamewithFacilityID)).\
#      group_by(RMIS.FacilityNamewithFacilityID).\
#      order_by(RMIS.BusinessLine).\
#     all()
# print (totald)

In [ ]:
# Calibration compliance

# print ("\n----- Calibration compliance------\n")
# CalComp = session.query(RMIS.FacilityNamewithFacilityID, RMIS.BusinessLine, RMIS.CalibrationComplianceIndicator, func.count(RMIS.CalibrationComplianceIndicator)).\
#     group_by(RMIS.FacilityNamewithFacilityID).\
#     group_by(RMIS.BusinessLine).\
#     group_by(RMIS.CalibrationComplianceIndicator).\
#     all()
# print (CalComp)

In [ ]:
# CalComp

In [ ]:
#Leak Test compliance

# print ("\n----- Leak Testcompliance------\n")
# LeakTestComp = session.query(RMIS.FacilityNamewithFacilityID, RMIS.BusinessLine, RMIS.LeakTestComplianceIndicator, func.count(RMIS.LeakTestComplianceIndicator)).\
#     group_by(RMIS.FacilityNamewithFacilityID).\
#     group_by(RMIS.BusinessLine).\
#     group_by(RMIS.LeakTestComplianceIndicator).\
#     all()
# print (LeakTestComp)

In [ ]:
# Photo compliance

# print ("\n----- Photo compliance------\n")
# PhotoComp = session.query(RMIS.FacilityNamewithFacilityID, RMIS.BusinessLine, RMIS.ConfirmationPhotoComplianceIndicator, func.count(RMIS.ConfirmationPhotoComplianceIndicator)).\
#     group_by(RMIS.FacilityNamewithFacilityID).\
#     group_by(RMIS.BusinessLine).\
#     group_by(RMIS.ConfirmationPhotoComplianceIndicator).\
#     all()
# print (PhotoComp)

In [ ]:
# Total dates

# print ("\n----- Total dates------\n")
# totald = session.query(func.count(RMIS.Geounit)).all()
# print (totald)

In [ ]:
# print ("\n----- Photo compliance------\n")
# PhotoComp = session.query(RMIS.Geounit, RMIS.Country, RMIS.FacilityNamewithFacilityID, RMIS.BusinessLine, RMIS.ConfirmationPhotoComplianceIndicator, func.count(RMIS.ConfirmationPhotoComplianceIndicator)).\
#     group_by(RMIS.FacilityNamewithFacilityID).\
#     group_by(RMIS.BusinessLine).\
#     group_by(RMIS.ConfirmationPhotoComplianceIndicator).\
#     all()
# print (PhotoComp)

In [ ]:
# PhotoComp

In [ ]:
# PhotoComp_df = pd.DataFrame(PhotoComp, columns=['FacilityNamewithFacilityID', 'BusinessLine', 'ConfirmationPhotoComplianceIndicator','Count'])

In [ ]:
# PhotoComp_df

In [ ]:
    # for row in PhotoComp:
    #     PhotoComp_dict = {}
    #     PhotoComp_dict["FacilityNamewithFacilityID"]=row.FacilityNamewithFacilityID
    #     PhotoComp_dict["BusinessLine"]=row.BusinessLine
    #     PhotoComp_dict["ConfirmationPhotoComplianceIndicator"]=row.ConfirmationPhotoComplianceIndicator
    #     PhotoComp_dict["Count"]=row[3]

    #     PhotoComp_data_out.append(PhotoComp_dict)

In [ ]:
# PhotoComp_data_out

In [ ]:
# Close Session
session.close()