In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from datetime import datetime
from scipy import stats


import requests
import json

In [2]:

from matplotlib import style
style.use('fivethirtyeight')

import datetime as dt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from sqlalchemy.ext.declarative import declarative_base

import sqlite3

Loading Data

In [ ]:
# # Read saved data: Registers and Local DB
# db_0028aa = pd.read_csv("Resources/0028AA.csv", encoding="utf-8")

# # Display sample data
# db_0028aa.head()

In [ ]:
# create engine to hawaii.sqlite
# engine = create_engine("sqlite:///Resources/ProductionDB.db")

In [27]:
# create engine to Dataset 1 .sqlite
engine_01 = create_engine("sqlite:///Resources/FMG_2023_Field.db")

In [28]:
# Create the inspector and connect it to the engine
inspector_01 = inspect(engine_01)
# Collect the names of tables within the database
inspector_01.get_table_names()

['Century_0028AA',
 'Century_0028AA_cals',
 'Century_0028AA_header',
 'Century_9013A',
 'Century_9013A_cals',
 'Century_9013A_header',
 'Century_9238AA',
 'Century_9238AA_cals',
 'Century_9238AA_header',
 'Century_9238CA',
 'Century_9238CA_cals',
 'Century_9238CA_header',
 'Century_9622A',
 'Century_9622A_cals',
 'Century_9622A_header',
 'Century_9622C',
 'Century_9622C_cals',
 'Century_9622C_header',
 'sqlite_sequence']

In [ ]:
# View all of the classes that automap found

# Using the inspector to print the column names within the 'measurement' table and its types

print ("---- 0028AA table information --------")

columns = inspector.get_columns('Century_0028AA')
for column in columns:
    print(column["name"], column["type"])

print ("---- 0028AA_cals table information --------")

columns = inspector.get_columns('Century_0028AA_cals')
for column in columns:
    print(column["name"], column["type"])


print ("---- 0028AA_header table information --------")

columns = inspector.get_columns('Century_0028AA_header')
for column in columns:
    print(column["name"], column["type"])

In [ ]:
# View all of the classes that automap found

# Using the inspector to print the column names within the 'measurement' table and its types

print ("---- Century_9013A table information --------")

columns = inspector.get_columns('Century_9013A')
for column in columns:
    print(column["name"], column["type"])

print ("---- Century_9013A_cals table information --------")

columns = inspector.get_columns('Century_9013A_cals')
for column in columns:
    print(column["name"], column["type"])


print ("---- Century_9013A_header table information --------")

columns = inspector.get_columns('Century_9013A_header')
for column in columns:
    print(column["name"], column["type"])

In [ ]:
# View all of the classes that automap found

# Using the inspector to print the column names within the 'measurement' table and its types

print ("---- Century_9057A table information --------")

columns = inspector.get_columns('Century_9057A')
for column in columns:
    print(column["name"], column["type"])

print ("---- Century_9057A_cals table information --------")

columns = inspector.get_columns('Century_9057A_cals')
for column in columns:
    print(column["name"], column["type"])


print ("---- Century_9057A_header table information --------")

columns = inspector.get_columns('Century_9057A_header')
for column in columns:
    print(column["name"], column["type"])

In [ ]:
# View all of the classes that automap found

# Using the inspector to print the column names within the 'measurement' table and its types

print ("---- Century_9238AA table information --------")

columns = inspector.get_columns('Century_9238AA')
for column in columns:
    print(column["name"], column["type"])

print ("---- Century_9238AA_cals table information --------")

columns = inspector.get_columns('Century_9238AA_cals')
for column in columns:
    print(column["name"], column["type"])


print ("---- Century_9238AA_header table information --------")

columns = inspector.get_columns('Century_9238AA_header')
for column in columns:
    print(column["name"], column["type"])

In [ ]:
# View all of the classes that automap found

# Using the inspector to print the column names within the 'measurement' table and its types

print ("---- Century_9622A table information --------")

columns = inspector.get_columns('Century_9622A')
for column in columns:
    print(column["name"], column["type"])

print ("---- Century_9622A_cals table information --------")

columns = inspector.get_columns('Century_9622A_cals')
for column in columns:
    print(column["name"], column["type"])


print ("---- Century_9622A_header table information --------")

columns = inspector.get_columns('Century_9622A_header')
for column in columns:
    print(column["name"], column["type"])

In [ ]:
# View all of the classes that automap found

# Using the inspector to print the column names within the 'measurement' table and its types

print ("---- Century_9622C table information --------")

columns = inspector.get_columns('Century_9622C')
for column in columns:
    print(column["name"], column["type"])

print ("---- Century_9622C_cals table information --------")

columns = inspector.get_columns('Century_9622C_cals')
for column in columns:
    print(column["name"], column["type"])


print ("---- Century_9622C_header table information --------")

columns = inspector.get_columns('Century_9622C_header')
for column in columns:
    print(column["name"], column["type"])

In [ ]:
inspector_01.get_table_names()

['Century_0028AA',
 'Century_0028AA_cals',
 'Century_0028AA_header',
 'Century_9013A',
 'Century_9013A_cals',
 'Century_9013A_header',
 'Century_9238AA',
 'Century_9238AA_cals',
 'Century_9238AA_header',
 'Century_9238CA',
 'Century_9238CA_cals',
 'Century_9238CA_header',
 'Century_9622A',
 'Century_9622A_cals',
 'Century_9622A_header',
 'Century_9622C',
 'Century_9622C_cals',
 'Century_9622C_header',
 'sqlite_sequence']

In [29]:
# reflect an existing database into a new model

Base_01 = automap_base()
Base_01.prepare(autoload_with=engine_01, reflect=True)


# reflect the tables
Base_01.classes.keys()

['Century_0028AA',
 'Century_0028AA_cals',
 'Century_0028AA_header',
 'Century_9013A',
 'Century_9013A_cals',
 'Century_9013A_header',
 'Century_9238AA',
 'Century_9238AA_cals',
 'Century_9238AA_header',
 'Century_9238CA',
 'Century_9238CA_cals',
 'Century_9238CA_header',
 'Century_9622A',
 'Century_9622A_cals',
 'Century_9622A_header',
 'Century_9622C',
 'Century_9622C_cals',
 'Century_9622C_header']

In [30]:
# Save references to each table (For use for SQL Queries if required)

# Map 0028AA class
db_0028AA = Base_01.classes.Century_0028AA
db_0028AA_cals = Base_01.classes.Century_0028AA_cals
db_0028AA_header = Base_01.classes.Century_0028AA_header

# Map 9013A class
db_9013A = Base_01.classes.Century_9013A
db_9013A_cals = Base_01.classes.Century_9013A_cals
db_9013A_header = Base_01.classes.Century_9013A_header

# Map 9238AA class
db_9238AA = Base_01.classes.Century_9238AA
db_9238AA_cals = Base_01.classes.Century_9238AA_cals
db_9238AA_header = Base_01.classes.Century_9238AA_header

# Map 9238CA class
db_9238CA = Base_01.classes.Century_9238CA
db_9238CA_cals = Base_01.classes.Century_9238CA_cals
db_9238CA_header = Base_01.classes.Century_9238CA_header

# Map 9622A class
db_9622A = Base_01.classes.Century_9622A
db_9622A_cals = Base_01.classes.Century_9622A_cals
db_9622A_header = Base_01.classes.Century_9622A_header

# Map 9622C class
db_9622C = Base_01.classes.Century_9622C
db_9622C_cals = Base_01.classes.Century_9622C_cals
db_9622C_header = Base_01.classes.Century_9622C_header

In [ ]:
# Create our session (link) from Python to the DB
session = Session(engine_01)

In [31]:
# DB Load from SQL Database

# Century_0028AA
tool_0028AA_df_01 = pd.read_sql_table('Century_0028AA', engine_01)
tool_0028AA_cals_df_01 = pd.read_sql_table('Century_0028AA_cals', engine_01)
tool_0028AA_header_df_01 = pd.read_sql_table('Century_0028AA_header', engine_01)

# Century_9013A
tool_9013A_df_01 = pd.read_sql_table('Century_9013A', engine_01)
tool_9013A_cals_df_01 = pd.read_sql_table('Century_9013A_cals', engine_01)
tool_9013A_header_df_01 = pd.read_sql_table('Century_9013A_header', engine_01)

# Century_9238AA
tool_9238AA_df_01 = pd.read_sql_table('Century_9238AA', engine_01)
tool_9238AA_cals_df_01 = pd.read_sql_table('Century_9238AA_cals', engine_01)
tool_9238AA_header_df_01 = pd.read_sql_table('Century_9238AA_header', engine_01)

# Century_9238CA
tool_9238CA_df_01 = pd.read_sql_table('Century_9238CA', engine_01)
tool_9238CA_cals_df_01 = pd.read_sql_table('Century_9238CA_cals', engine_01)
tool_9238CA_header_df_01 = pd.read_sql_table('Century_9238CA_header', engine_01)

# Century_9622A
tool_9622A_df_01 = pd.read_sql_table('Century_9622A', engine_01)
tool_9622A_cals_df_01 = pd.read_sql_table('Century_9622A_cals', engine_01)
tool_9622A_header_df_01 = pd.read_sql_table('Century_9622A_header', engine_01)

# Century_9622C
tool_9622C_df_01 = pd.read_sql_table('Century_9622C', engine_01)
tool_9622C_cals_df_01 = pd.read_sql_table('Century_9622C_cals', engine_01)
tool_9622C_header_df_01 = pd.read_sql_table('Century_9622C_header', engine_01)

In [ ]:
# tool_0028AA_df.head()

In [ ]:
# tool_9622A_df.head()

In [8]:
# create engine to Dataset 1 .sqlite
engine_02 = create_engine("sqlite:///Resources/RH_2021_Field.db")

In [9]:
# Create the inspector and connect it to the engine
inspector_02= inspect(engine_02)
# Collect the names of tables within the database
inspector_02.get_table_names()

['Century_0028AA',
 'Century_0028AA_cals',
 'Century_0028AA_header',
 'Century_0037A',
 'Century_0037A_cals',
 'Century_0037A_header',
 'Century_0037C',
 'Century_0037C_cals',
 'Century_0037C_header',
 'Century_9622A',
 'Century_9622A_cals',
 'Century_9622A_header',
 'Century_9622C',
 'Century_9622C_cals',
 'Century_9622C_header',
 'sqlite_sequence']

In [10]:
# reflect an existing database into a new model

Base_02 = automap_base()
Base_02.prepare(autoload_with=engine_02, reflect=True)


# reflect the tables
Base_02.classes.keys()

['Century_0028AA',
 'Century_0028AA_cals',
 'Century_0028AA_header',
 'Century_0037A',
 'Century_0037A_cals',
 'Century_0037A_header',
 'Century_0037C',
 'Century_0037C_cals',
 'Century_0037C_header',
 'Century_9622A',
 'Century_9622A_cals',
 'Century_9622A_header',
 'Century_9622C',
 'Century_9622C_cals',
 'Century_9622C_header']

In [11]:
# Save references to each table (For use for SQL Queries if required)

# Map 0028AA class
db_02_0028AA = Base_02.classes.Century_0028AA
db_02_0028AA_cals = Base_02.classes.Century_0028AA_cals
db_02_0028AA_header = Base_02.classes.Century_0028AA_header

# # Map 0037A class
# db_02_0037A = Base_02.classes.Century_0037A
# db_02_0037A_cals = Base_02.classes.Century_0037A_cals
# db_02_0037A_header = Base_02.classes.Century_0037A_header

# # Map 0037C class
# db_02_0037C = Base_02.classes.Century_0037C
# db_02_0037C_cals = Base_02.classes.Century_0037C_cals
# db_02_0037C_header = Base_02.classes.Century_0037C_header

# Map 9622A class
db_02_9622A = Base_02.classes.Century_9622A
db_02_9622A_cals = Base_02.classes.Century_9622A_cals
db_02_9622A_header = Base_02.classes.Century_9622A_header

# Map 9622C class
db_02_9622C = Base_02.classes.Century_9622C
db_02_9622C_cals = Base_02.classes.Century_9622C_cals
db_02_9622C_header = Base_02.classes.Century_9622C_header

In [12]:

# Century_0028AA
tool_0028AA_df_02 = pd.read_sql_table('Century_0028AA', engine_02)
tool_0028AA_cals_df_02 = pd.read_sql_table('Century_0028AA_cals', engine_02)
tool_0028AA_header_df_02 = pd.read_sql_table('Century_0028AA_header', engine_02)

In [ ]:
# # Century_0037A
# tool_0037A_df_02 = pd.read_sql_table('Century_0037A', engine_02)
# tool_0037A_cals_df_02 = pd.read_sql_table('Century_0037A_cals', engine_02)
# tool_0037A_header_df_02 = pd.read_sql_table('Century_0037A_header', engine_02)

In [ ]:
# # Century_0037C
# tool_0037C_df_02 = pd.read_sql_table('Century_0037C', engine_02)
# tool_0037C_cals_df_02 = pd.read_sql_table('Century_0037C_cals', engine_02)
# tool_0037C_header_df_02 = pd.read_sql_table('Century_0037C_header', engine_02)

In [13]:
# Century_9622A
tool_9622A_df_02 = pd.read_sql_table('Century_9622A', engine_02)
tool_9622A_cals_df_02 = pd.read_sql_table('Century_9622A_cals', engine_02)
tool_9622A_header_df_02 = pd.read_sql_table('Century_9622A_header', engine_02)

In [14]:
# Century_9622C
tool_9622C_df_02 = pd.read_sql_table('Century_9622C', engine_02)
tool_9622C_cals_df_02 = pd.read_sql_table('Century_9622C_cals', engine_02)
tool_9622C_header_df_02 = pd.read_sql_table('Century_9622C_header', engine_02)

In [15]:
# create engine to Dataset .sqlite
engine_03 = create_engine("sqlite:///Resources/RH_2022_Field.db")

In [16]:
# Create the inspector and connect it to the engine
inspector_03= inspect(engine_03)
# Collect the names of tables within the database
inspector_03.get_table_names()

['Century_0028AA',
 'Century_0028AA_cals',
 'Century_0028AA_header',
 'Century_9622A',
 'Century_9622A_cals',
 'Century_9622A_header',
 'Century_9622C',
 'Century_9622C_cals',
 'Century_9622C_header',
 'sqlite_sequence']

In [17]:
# reflect an existing database into a new model

Base_03 = automap_base()
Base_03.prepare(autoload_with=engine_03, reflect=True)


# reflect the tables
Base_03.classes.keys()

['Century_0028AA',
 'Century_0028AA_cals',
 'Century_0028AA_header',
 'Century_9622A',
 'Century_9622A_cals',
 'Century_9622A_header',
 'Century_9622C',
 'Century_9622C_cals',
 'Century_9622C_header']

In [18]:
# Save references to each table (For use for SQL Queries if required)

# Map 0028AA class
db_03_0028AA = Base_03.classes.Century_0028AA
db_03_0028AA_cals = Base_03.classes.Century_0028AA_cals
db_03_0028AA_header = Base_03.classes.Century_0028AA_header

# Map 9622A class
db_03_9622A = Base_03.classes.Century_9622A
db_03_9622A_cals = Base_03.classes.Century_9622A_cals
db_03_9622A_header = Base_03.classes.Century_9622A_header

# Map 9622C class
db_03_9622C = Base_03.classes.Century_9622C
db_03_9622C_cals = Base_03.classes.Century_9622C_cals
db_03_9622C_header = Base_03.classes.Century_9622C_header

In [19]:
# Century_0028AA
tool_0028AA_df_03 = pd.read_sql_table('Century_0028AA', engine_03)
tool_0028AA_cals_df_03 = pd.read_sql_table('Century_0028AA_cals', engine_03)
tool_0028AA_header_df_03 = pd.read_sql_table('Century_0028AA_header', engine_03)

In [20]:
# Century_9622A
tool_9622A_df_03 = pd.read_sql_table('Century_9622A', engine_03)
tool_9622A_cals_df_03 = pd.read_sql_table('Century_9622A_cals', engine_03)
tool_9622A_header_df_03 = pd.read_sql_table('Century_9622A_header', engine_03)

In [21]:
# Century_9622C
tool_9622C_df_03 = pd.read_sql_table('Century_9622C', engine_03)
tool_9622C_cals_df_03 = pd.read_sql_table('Century_9622C_cals', engine_03)
tool_9622C_header_df_03 = pd.read_sql_table('Century_9622C_header', engine_03)

In [36]:
tool_0028AA_df_01["Dataset"]="Cust_01"
tool_0028AA_cals_df_01["Dataset"]="Cust_01"
tool_0028AA_header_df_01["Dataset"]="Cust_01"

tool_0028AA_df_02["Dataset"]="Cust_02"
tool_0028AA_cals_df_02["Dataset"]="Cust_02"
tool_0028AA_header_df_02["Dataset"]="Cust_02"

tool_0028AA_df_03["Dataset"]="Cust_03"
tool_0028AA_cals_df_03["Dataset"]="Cust_03"
tool_0028AA_header_df_03["Dataset"]="Cust_03"

In [37]:
tool_9622A_df_01["Dataset"]="Cust_01"
tool_9622A_cals_df_01["Dataset"]="Cust_01"
tool_9622A_header_df_01["Dataset"]="Cust_01"

tool_9622A_df_02["Dataset"]="Cust_02"
tool_9622A_cals_df_02["Dataset"]="Cust_02"
tool_9622A_header_df_02["Dataset"]="Cust_02"

tool_9622A_df_03["Dataset"]="Cust_03"
tool_9622A_cals_df_03["Dataset"]="Cust_03"
tool_9622A_header_df_03["Dataset"]="Cust_03"

In [38]:
tool_9622C_df_01["Dataset"]="Cust_01"
tool_9622C_cals_df_01["Dataset"]="Cust_01"
tool_9622C_header_df_01["Dataset"]="Cust_01"

tool_9622C_df_02["Dataset"]="Cust_02"
tool_9622C_cals_df_02["Dataset"]="Cust_02"
tool_9622C_header_df_02["Dataset"]="Cust_02"

tool_9622C_df_03["Dataset"]="Cust_03"
tool_9622C_cals_df_03["Dataset"]="Cust_03"
tool_9622C_header_df_03["Dataset"]="Cust_03"

In [52]:
tool_0028AA_frames = [tool_0028AA_df_01,tool_0028AA_df_02,tool_0028AA_df_03]

tool_0028AA_df = pd.concat(tool_0028AA_frames)
tool_0028AA_df.to_csv("Output_data/tool_0028AA_df.csv")

In [53]:
tool_0028AA_cals_frames = [tool_0028AA_cals_df_01,tool_0028AA_cals_df_02,tool_0028AA_cals_df_03]

tool_0028AA_cals_df = pd.concat(tool_0028AA_cals_frames)
tool_0028AA_cals_df.to_csv("Output_data/tool_0028AA_cals_df.csv")

In [54]:
tool_0028AA_header_df_frames = [tool_0028AA_header_df_01,tool_0028AA_header_df_02,tool_0028AA_header_df_03]

tool_0028AA_header_df = pd.concat(tool_0028AA_header_df_frames)
tool_0028AA_header_df.to_csv("Output_data/tool_0028AA_header_df.csv")

In [51]:
tool_9622A_frames = [tool_9622A_df_01,tool_9622A_df_02,tool_9622A_df_03]
tool_9622A_df = pd.concat(tool_9622A_frames)
tool_9622A_df.to_csv("Output_data/tool_9622A_df.csv")

tool_9622A_cals_frames = [tool_9622A_cals_df_01,tool_9622A_cals_df_02,tool_9622A_cals_df_03]
tool_9622A_cals_df = pd.concat(tool_9622A_cals_frames)
tool_9622A_cals_df.to_csv("Output_data/tool_9622A_cals_df.csv")

tool_9622A_header_df_frames = [tool_9622A_header_df_01,tool_9622A_header_df_02,tool_9622A_header_df_03]
tool_9622A_header_df = pd.concat(tool_9622A_header_df_frames)
tool_9622A_header_df.to_csv("Output_data/tool_9622A_header_df.csv")

In [55]:
tool_9622C_frames = [tool_9622C_df_01,tool_9622C_df_02,tool_9622C_df_03]
tool_9622C_df = pd.concat(tool_9622C_frames)
tool_9622C_df.to_csv("Output_data/tool_9622C_df.csv")

tool_9622C_cals_frames = [tool_9622C_cals_df_01,tool_9622C_cals_df_02,tool_9622C_cals_df_03]
tool_9622C_cals_df = pd.concat(tool_9622C_cals_frames)
tool_9622C_cals_df.to_csv("Output_data/tool_9622C_cals_df.csv")

tool_9622C_header_df_frames = [tool_9622C_header_df_01,tool_9622C_header_df_02,tool_9622C_header_df_03]
tool_9622C_header_df = pd.concat(tool_9622C_header_df_frames)
tool_9622C_header_df.to_csv("Output_data/tool_9622C_header_df.csv")

In [50]:
tool_0028AA_df[:15]

,Depth_M,CALIPER_MM,DENSITY_G/CC,POR(DEN)_PERCENT,DENSITY_CPS,TENSION_CPS,TIME_MINUTES,well,file,TIME_SECONDS,CALIPER_CPS,TENSION_POUNDS,ind,Dataset,CALIPER_CM,TIME_NA
0,0.8,-999.250000,-999.250000,-999.250000,-999.250000,-10.0,-999.250000,RHGC12609,RHGC12609_02-09-23_12-13_0028AA_.10_0.80_51.10...,NaN,NaN,NaN,1,Cust_01,NaN,NaN
1,0.9,140.508286,-999.250000,-999.250000,-999.250000,-10.0,-999.250000,RHGC12609,RHGC12609_02-09-23_12-13_0028AA_.10_0.80_51.10...,NaN,NaN,NaN,2,Cust_01,NaN,NaN
2,1.0,139.440918,-999.250000,-999.250000,-999.250000,-10.0,1.599000,RHGC12609,RHGC12609_02-09-23_12-13_0028AA_.10_0.80_51.10...,NaN,NaN,NaN,3,Cust_01,NaN,NaN
3,1.1,140.705475,-999.250000,-999.250000,-999.250000,-10.0,1.701000,RHGC12609,RHGC12609_02-09-23_12-13_0028AA_.10_0.80_51.10...,NaN,NaN,NaN,4,Cust_01,NaN,NaN
4,1.2,141.967316,2.731585,-5.263559,15461.875000,-10.0,1.699000,RHGC12609,RHGC12609_02-09-23_12-13_0028AA_.10_0.80_51.10...,NaN,NaN,NaN,5,Cust_01,NaN,NaN
5,1.3,140.058075,2.546650,6.667752,17577.646484,-10.0,1.600000,RHGC12609,RHGC12609_02-09-23_12-13_0028AA_.10_0.80_51.10...,NaN,NaN,NaN,6,Cust_01,NaN,NaN
6,1.4,140.787949,2.524479,8.098156,17850.000000,-10.0,1.700000,RHGC12609,RHGC12609_02-09-23_12-13_0028AA_.10_0.80_51.10...,NaN,NaN,NaN,7,Cust_01,NaN,NaN
7,1.5,135.683090,2.485674,10.601689,18336.875000,-10.0,1.600000,RHGC12609,RHGC12609_02-09-23_12-13_0028AA_.10_0.80_51.10...,NaN,NaN,NaN,8,Cust_01,NaN,NaN
8,1.6,135.198090,2.484781,10.659309,18348.234375,-10.0,1.700000,RHGC12609,RHGC12609_02-09-23_12-13_0028AA_.10_0.80_51.10...,NaN,NaN,NaN,9,Cust_01,NaN,NaN
9,1.7,134.838760,2.483955,10.712607,18358.750000,-10.0,1.700000,RHGC12609,RHGC12609_02-09-23_12-13_0028AA_.10_0.80_51.10...,NaN,NaN,NaN,10,Cust_01,NaN,NaN
10,1.8,135.035828,2.629781,1.304442,16592.941406,-10.0,1.600000,RHGC12609,RHGC12609_02-09-23_12-13_0028AA_.10_0.80_51.10...,NaN,NaN,NaN,11,Cust_01,NaN,NaN
11,1.9,135.698395,2.711818,-3.988235,15675.293945,-10.0,20.499035,RHGC12609,RHGC12609_02-09-23_12-13_0028AA_.10_0.80_51.10...,NaN,NaN,NaN,12,Cust_01,NaN,NaN
12,2.0,135.676361,2.699992,-3.225296,15804.375000,-10.0,2.400000,RHGC12609,RHGC12609_02-09-23_12-13_0028AA_.10_0.80_51.10...,NaN,NaN,NaN,13,Cust_01,NaN,NaN
13,2.1,138.234772,2.731624,-5.266036,15461.463867,-10.0,1.700000,RHGC12609,RHGC12609_02-09-23_12-13_0028AA_.10_0.80_51.10...,NaN,NaN,NaN,14,Cust_01,NaN,NaN
14,2.2,136.739304,2.752230,-6.595488,15242.083008,-10.0,1.300000,RHGC12609,RHGC12609_02-09-23_12-13_0028AA_.10_0.80_51.10...,NaN,NaN,NaN,15,Cust_01,NaN,NaN

In [49]:
tool_9622A_df.tail()

,Depth_M,GAM(NAT)_API-GR,SUSCEP_CGS E-5,SANG_DEG,SANGB_DEG,MAG-VECT_AMPL,XINCL_MV,YINCL_MV,XFLUX_MV,YFLUX_MV,...,SUSCEP_CPS,TENSION_CPS,TIME_MINUTES,well,file,TEMP_DEG,TIME_SECONDS,TENSION_POUNDS,ind,Dataset
336,33.6,-999.25,2.523898,-999.25,-999.25,-999.25,-999.25,-999.25,0.598824,0.155273,...,-999.25,-10.0,1.000000,RHRC03100584,RHRC03100584_05-21-22_07-33_9622A_.10_0.00_34....,NaN,NaN,NaN,337,Cust_03
337,33.7,-999.25,2.788751,-999.25,-999.25,-999.25,-999.25,-999.25,0.598824,0.155273,...,-999.25,-10.0,1.100000,RHRC03100584,RHRC03100584_05-21-22_07-33_9622A_.10_0.00_34....,NaN,NaN,NaN,338,Cust_03
338,33.8,-999.25,3.427515,-999.25,-999.25,-999.25,-999.25,-999.25,0.586747,0.162996,...,-999.25,-10.0,1.200000,RHRC03100584,RHRC03100584_05-21-22_07-33_9622A_.10_0.00_34....,NaN,NaN,NaN,339,Cust_03
339,33.9,-999.25,2.430420,-999.25,-999.25,-999.25,-999.25,-999.25,0.591249,0.196794,...,-999.25,-10.0,1.300000,RHRC03100584,RHRC03100584_05-21-22_07-33_9622A_.10_0.00_34....,NaN,NaN,NaN,340,Cust_03
340,34.0,-999.25,4.564827,-999.25,-999.25,-999.25,-999.25,-999.25,0.591249,0.196794,...,-999.25,-10.0,8.399996,RHRC03100584,RHRC03100584_05-21-22_07-33_9622A_.10_0.00_34....,NaN,NaN,NaN,341,Cust_03

In [48]:
tool_9622C_df.tail()

,Depth_M,GAM(NAT)_CPS,SUSCEP_CGS E-5,SANG_DEG,SANGB_DEG,MAG-VECT_AMPL,XINCL_MV,YINCL_MV,XFLUX_MV,YFLUX_MV,...,SUSCEP_CPS,TENSION_CPS,TIME_MINUTES,well,file,TEMP_DEG,ind,Dataset,TIME_SECONDS,TIME_NA
809687,27.0,-999.25,4.346225,-999.25,-999.25,-999.25,-999.25,-999.25,0.610111,0.292009,...,-999.25,-10.0,0.700000,RHRC01590619,RHRC01590619_08-17-22_12-27_9622C_.10_0.00_27....,NaN,809688,Cust_03,NaN,NaN
809688,27.1,-999.25,5.463825,-999.25,-999.25,-999.25,-999.25,-999.25,0.603638,0.305563,...,-999.25,-10.0,0.800000,RHRC01590619,RHRC01590619_08-17-22_12-27_9622C_.10_0.00_27....,NaN,809689,Cust_03,NaN,NaN
809689,27.2,-999.25,5.494870,-999.25,-999.25,-999.25,-999.25,-999.25,0.595642,0.311580,...,-999.25,-10.0,0.800000,RHRC01590619,RHRC01590619_08-17-22_12-27_9622C_.10_0.00_27....,NaN,809690,Cust_03,NaN,NaN
809690,27.3,-999.25,5.774270,-999.25,-999.25,-999.25,-999.25,-999.25,0.589528,0.325286,...,-999.25,-10.0,0.900000,RHRC01590619,RHRC01590619_08-17-22_12-27_9622C_.10_0.00_27....,NaN,809691,Cust_03,NaN,NaN
809691,27.4,-999.25,6.177848,-999.25,-999.25,-999.25,-999.25,-999.25,0.576978,0.334599,...,-999.25,-10.0,2.899999,RHRC01590619,RHRC01590619_08-17-22_12-27_9622C_.10_0.00_27....,NaN,809692,Cust_03,NaN,NaN

In [ ]:
# Photo inventory dates dates


print ("\n----- Total dates------\n")
totald = session.query(db_0028AA.well, func.count(db_0028AA.well), func.avg(db_0028AA.DENSITY_CPS)).\
    group_by(db_0028AA.well).\
    all()
print (totald)

# # Earliest Date

# print ("\n----- Earliest Date------\n")
# date = session.query(RMIS.DateofLastPhotoInvtest).order_by(RMIS.DateofLastPhotoInvtest).\
#     filter(RMIS.PhotoInventoryFrequency == '12Month').\
#     order_by(RMIS.DateofLastPhotoInvtest).first()
# print (date)


# # Latest Date

# print ("\n----- Latest Date-------\n")
# date = session.query(RMIS.DateofLastPhotoInvtest).order_by(RMIS.DateofLastPhotoInvtest.desc()).\
#     filter(RMIS.PhotoInventoryFrequency == '12Month').\
#     order_by(RMIS.DateofLastPhotoInvtest).first()
# print (date)

In [ ]:
# print ("\n----- Records in a location------\n")
# totald = session.query(RMIS.BusinessLine,func.count(RMIS.FacilityNamewithFacilityID)).\
#     filter(RMIS.FacilityNamewithFacilityID == 'Jandakot Base OFS Operating Base - 8509').\
#     group_by(RMIS.BusinessLine).\
#     all()
# print (totald)

In [ ]:
# print ("\n----- Records in a location------\n")
# totald = session.query(RMIS.FacilityNamewithFacilityID, RMIS.BusinessLine,func.count(RMIS.FacilityNamewithFacilityID)).\
#      group_by(RMIS.FacilityNamewithFacilityID).\
#      order_by(RMIS.BusinessLine).\
#     all()
# print (totald)

In [ ]:
# Calibration compliance

# print ("\n----- Calibration compliance------\n")
# CalComp = session.query(RMIS.FacilityNamewithFacilityID, RMIS.BusinessLine, RMIS.CalibrationComplianceIndicator, func.count(RMIS.CalibrationComplianceIndicator)).\
#     group_by(RMIS.FacilityNamewithFacilityID).\
#     group_by(RMIS.BusinessLine).\
#     group_by(RMIS.CalibrationComplianceIndicator).\
#     all()
# print (CalComp)

In [ ]:
# CalComp

In [ ]:
#Leak Test compliance

# print ("\n----- Leak Testcompliance------\n")
# LeakTestComp = session.query(RMIS.FacilityNamewithFacilityID, RMIS.BusinessLine, RMIS.LeakTestComplianceIndicator, func.count(RMIS.LeakTestComplianceIndicator)).\
#     group_by(RMIS.FacilityNamewithFacilityID).\
#     group_by(RMIS.BusinessLine).\
#     group_by(RMIS.LeakTestComplianceIndicator).\
#     all()
# print (LeakTestComp)

In [ ]:
# Photo compliance

# print ("\n----- Photo compliance------\n")
# PhotoComp = session.query(RMIS.FacilityNamewithFacilityID, RMIS.BusinessLine, RMIS.ConfirmationPhotoComplianceIndicator, func.count(RMIS.ConfirmationPhotoComplianceIndicator)).\
#     group_by(RMIS.FacilityNamewithFacilityID).\
#     group_by(RMIS.BusinessLine).\
#     group_by(RMIS.ConfirmationPhotoComplianceIndicator).\
#     all()
# print (PhotoComp)

In [ ]:
# Total dates

# print ("\n----- Total dates------\n")
# totald = session.query(func.count(RMIS.Geounit)).all()
# print (totald)

In [ ]:
# print ("\n----- Photo compliance------\n")
# PhotoComp = session.query(RMIS.Geounit, RMIS.Country, RMIS.FacilityNamewithFacilityID, RMIS.BusinessLine, RMIS.ConfirmationPhotoComplianceIndicator, func.count(RMIS.ConfirmationPhotoComplianceIndicator)).\
#     group_by(RMIS.FacilityNamewithFacilityID).\
#     group_by(RMIS.BusinessLine).\
#     group_by(RMIS.ConfirmationPhotoComplianceIndicator).\
#     all()
# print (PhotoComp)

In [ ]:
# PhotoComp

In [ ]:
# PhotoComp_df = pd.DataFrame(PhotoComp, columns=['FacilityNamewithFacilityID', 'BusinessLine', 'ConfirmationPhotoComplianceIndicator','Count'])

In [ ]:
# PhotoComp_df

In [ ]:
    # for row in PhotoComp:
    #     PhotoComp_dict = {}
    #     PhotoComp_dict["FacilityNamewithFacilityID"]=row.FacilityNamewithFacilityID
    #     PhotoComp_dict["BusinessLine"]=row.BusinessLine
    #     PhotoComp_dict["ConfirmationPhotoComplianceIndicator"]=row.ConfirmationPhotoComplianceIndicator
    #     PhotoComp_dict["Count"]=row[3]

    #     PhotoComp_data_out.append(PhotoComp_dict)

In [ ]:
# PhotoComp_data_out

In [ ]:
# Close Session
session.close()